.card {
    width: 500px;
    display: block;
    border-radius: 10px;
    padding: 10px 20px;
}


.description {
    width: 80%;
    height: 90%;
    margin: 10px auto;
    font-size: 18px;
    font-weight: 600;
}
.image_wrapper {
    display: block;
    width: 100%;
    margin-top:10px;
    
}
.image  {
    display: block;
    height: 150px;
    width: 400px;
    border-radius: 10px;
    margin: 0 auto 25px auto;
}